// Color palette
$color-primary: #029cb6;
$color-secondary: #0aafae;

$color-grey-dark: #333;
$color-grey: #888;
$color-grey-light: #ccc;

// Font family
$font-primary: "Signika", sans-serif;

// Responsive breakpoint sizes
$phone: 37.5em; //600px
$tab-port: 56.25em; //900px
$tab-land: 75em; //1200px
$mid-desktop: 93.75em; //1500px
$big-desktop: 112.5em; //1800px
