.min-max-page {
  display: grid;

  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: $tab-port) {
    grid-template-columns: 1fr;
  }

  &--inactive {
    grid-template-columns: 1fr;
    color: $color-grey-lighter;
  }
}
